.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.userVideo {
  width: 350px;
  position: relative;
  z-index: 0;
}

.partnerVideo {
  width: 350px;
  border: solid 2px green;
  position: relative;
  z-index: 0;
}

.videoUserName {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}

/* whiteboard */

.whiteboard {
  border: solid 3px #3F51B5;
  border-radius: 10px;
  height: 400px;
  width: 100%;
  cursor: crosshair;
}

.colors {
  /* position: relative; */
  justify-content:"space-evenly";
}

.color {
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  display: inline-block;
  /* height: 20%; */
  width: 100%;
  padding-top: 85%;
}

.color.icon {
  padding-top: 25%;
}
.color.black {
  background-color: black;
}
.color.red {
  background-color: red;
}
.color.green {
  background-color: green;
}
.color.blue {
  background-color: blue;
}
.color.yellow {
  background-color: yellow;
}

.gameIcon {
  max-width: 100%;
}
